<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">        
        
        <title>{% block title %}Bidfair{% endblock %}</title>
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

		{% stylesheets output='main.css' 
		    'bootstrap/css/bootstrap.css'
		    'bootstrap/css/bootstrap-responsive.css'
	    	'frontend/frontend.css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
		
		{% javascripts
        	'jquery/jquery-1.7.2.min.js'
        	'bootstrap/js/bootstrap.js'
        	'knockout/knockout-latest.js'
        	'knockout/knockout.mapping-latest.js'
        	output='main.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
    </head>

    <body>
        {% block body %}{% endblock %}
		
		{% block javascripts %}{% endblock %}
    </body>
    
</html>
